/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/*------------------TOP BAR STYLES ------------------*/

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

ul#topbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul#topbar li {
    float: left;
    list-style-type: none;
}

ul#topbar li a {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

ul#topbar li a:hover {
    color: #111111;
}

.product-grid .fl-button {
    background-color: #a4774f !important;
    border: 1px solid #a4774f !important;
}

.product-grid .fl-button span {
    color: #ffffff !important;
}

.product-grid .fl-button:hover {
    background-color: transparent !important;
}

.product-grid .fl-button:hover span {
    color: #a4774f !important;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select {
    width: 60px!important;
    max-width: 60px!important;
}

.gform_wrapper .gfield_time_hour i {
    margin-top: -2px!important;
}

input#gform_submit_button_3,
.product-grid .fl-button {
    background-color: #a4774f !important;
    border: 1px solid #a4774f !important;
}

input#gform_submit_button_3,
.product-grid .fl-button span {
    color: #ffffff !important;
}

input#gform_submit_button_3:hover,
.product-grid .fl-button:hover {
    background-color: transparent !important;
}

input#gform_submit_button_3:hover,
.product-grid .fl-button:hover span {
    color: #a4774f !important;
}

form select {
    padding: 6px 0px !important;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox],
.gform_wrapper ul.gfield_radio li input[type=radio] {
    margin-top: 3px!important;
    vertical-align: top!important;
}

.uabb-gf-style .gform_wrapper .gfield_checkbox li label,
.uabb-gf-style .gform_wrapper .gfield_radio li label {
    vertical-align: top;
}

.gform_body input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
    width: 100%;
}

.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 15px;
}

.get-direction .fl-html .storename .direction a {
    display: block;
    text-align: center;
}

.store-opening-hrs-container .store-opening-hrs li {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px;
}


/*------------------END TOP BAR STYLES ------------------*/

@media (max-width:1024px) {
    ul#topbar li a {
        font-size: 11px;
        padding: 5px;
    }
    .fl-page-nav .navbar-nav li>a {
        padding: 15px 8px;
        font-size: 13px;
    }
}

@media (max-width:992px) {
    ul#topbar>li:last-child {
        display: block!important;
    }
    .social-icons-container {
        text-align: center;
    }
    .fl-button span.fl-button-text {
        color: #fff;
    }
    .uabb-gf-style .gform_wrapper .gform_footer input[type=submit] {
        width: auto!important;
        color: #fff;
    }
    .fl-page-bar .fl-page-bar-row .text-left {
        width: 60%;
        float: left;
    }
    .fl-page-bar .fl-page-bar-row .text-right {
        width: 40%;
        float: right;
    }
}

@media(max-width:767px) {
    .fl-page-bar .fl-page-bar-row .text-left {
        width: 60%;
        float: left;
    }
    .fl-page-bar .fl-page-bar-row .text-right {
        width: 40%;
        float: right;
    }
    .fl-page-bar .fl-page-bar-row .text-left * {
        text-align: left!important;
    }
    ul#topbar>li:last-child {
        float: right!important;
    }
    .fl-module-heading h1.fl-heading {
        line-height: 48px!important;
    }
}

@media(max-width:450px) {
    .fl-page-bar .fl-page-bar-row .text-left {
        width: 100%;
        float: none;
        padding: 0px;
        text-align: center!important;
    }
    .fl-page-bar .fl-page-bar-row .text-left * {
        text-align: center!important;
    }
    .fl-page-bar .fl-page-bar-row .text-right {
        display: none;
    }
    .fl-col-group .boxes-on-mobile-full-width {
        width: 100%!important;
    }
    footer .fl-col-group .boxes-on-mobile-full-width {
        width: 100%!important;
    }
}

.location-wrap-row .fl-module-icon .fl-icon-wrap span.fl-icon i:before {
    font-size: 37px;
    color: #b73143;
}

.location-wrap-row .fl-module-icon .fl-icon-wrap .fl-icon-text {
    padding-left: 0px;
}

.uabb-modal .popup-img-data {
    width: 40%;
    float: left;
}

.uabb-modal .popup-content-data {
    width: 60%;
    float: right;
    padding: 0 20px;
    color: #000 !important;
    font-size: 15px !important;
}

.uabb-modal-parent-wrapper .uabb-modal .uabb-content {
    max-width: 1000px !important;
    width: 100% !important;
}

@media (max-width:768px) {
    .facet_filters {
        position: static;
        width: auto;
        box-shadow: none;
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: none;
    }
    .facetwp-per-page,
    .facetwp-pager {
        text-align: right !important;
    }
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: left !important;
    }
}

@media (max-width:767px) {
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: block;
    }
    .facetwp-per-page,
    .facetwp-pager {
        float: none;
    }
    .facetwp-per-page,
    .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: center !important;
    }
    .br-none .uabb-infobox-title-wrap .uabb-infobox-title br {
        display: none;
    }
    #responsive-menu-additional-content ul li .phone a {
        color: #fff!important;
    }
}